
<h4>Formularios <small>template</small></h4>
<hr>
<form [formGroup]="forma" (ngSubmit)="onSubmit()" novalidate="novalidate" >

  <div formGroupName="nombrecompleto">

    <div class="form-group row">
      <label class="col-2 col-form-label">Nombre</label>
      <div class="col-8">

        <input class="form-control"
               type="text"
               placeholder="Nombre"
               formControlName="nombre" 
               [ngClass]="{'is-invalid' : !forma.get('nombrecompleto.nombre').valid }">
               
             <div class="invalid-feedback" *ngIf="forma.get('nombrecompleto.nombre').errors?.required">
                  requerido
                </div>

        <div class="invalid-feedback" *ngIf="!forma.get('nombrecompleto.nombre').errors?.minglength">
                  3 caracteres como minimo
                </div>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Apellido</label>
      <div class="col-8">

        <input class="form-control"
               type="text"
               placeholder="Apellido"
               formControlName="apellido"
               [ngClass]="{'is-invalid' : !forma.get('nombrecompleto.apellido').valid }">
           
              
               <div class="invalid-feedback" *ngIf="forma.get('nombrecompleto.apellido').errors?.required">
                  Requerido
                </div>
      </div>
    </div>

  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Correo</label>
    <div class="col-md-8">

      <input class="form-control"
             type="email"
             placeholder="Correo electrónico"
             formControlName="correo"
             [ngClass]="{'is-invalid' : !forma.controls['correo'].valid }">
        <div class="invalid-feedback" *ngIf="forma.controls['correo'].errors?.required">
                  requerido
                </div>
        <div class="invalid-feedback" *ngIf="forma.controls['correo'].errors?.pattern">
                  mail invalido
                </div>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col-md-8" formArrayName="pasatiempos" >
      <input *ngFor="let pasatiempo of forma.controls['pasatiempos'].controls;let i = index " type="text" class="form-control" formControlName="{{i}}"  >

    </div>
    <button type="button" class="btn btn-primary" (click)="agregarPasatiempos()">Agrregar pasatiempo</button>
  </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Username</label>
      <div class="col-8">

        <input class="form-control"
               type="text"
               placeholder="Username"
               formControlName="username"
               [ngClass]="{'is-invalid' : !forma.get('username').valid }">
           
              
               <div class="invalid-feedback" *ngIf="forma.get('username').errors?.required">
                  Requerido
                </div>
      </div>
    </div>

        <div class="form-group row">
      <label class="col-2 col-form-label">password1</label>
      <div class="col-8">

        <input class="form-control"
               type="text"
               placeholder="Password"
               formControlName="password1"
               [ngClass]="{'is-invalid' : !forma.get('password1').valid }">
           
              
               <div class="invalid-feedback" *ngIf="forma.get('password1').errors?.required">
                  Requerido
                </div>
      </div>
    </div>

        <div class="form-group row">
      <label class="col-2 col-form-label">password2</label>
      <div class="col-8">

        <input class="form-control"
               type="text"
               placeholder="Repetir password"
               formControlName="password2"
               [ngClass]="{'is-invalid' : !forma.get('password2').valid }">
           
              
               <div class="invalid-feedback" *ngIf="forma.get('password2').errors?.required">
                  Requerido
                </div>
      </div>
    </div>

{{forma.valid}}
{{forma.status}}
      <button [disabled]="!forma.valid"  type="submit" class="btn btn-outline-primary">
        Guardar
      </button>
</form>
